.Keta{
    position: relative;
    background-color: #CDCFD6;
    width: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
  
.Tama {
position: relative;
height: 3rem;
margin: 1rem -1rem;
width: 3rem;
background-color: #CB854B;
}

.Tama:before,
.Tama:after {
content: "";
position: absolute;
border-top: 1.5rem solid transparent;
border-bottom: 1.5rem solid transparent;
}

.Tama:before {
left: -1.5rem;
border-right: 1.5rem solid #CB854B;
}

.Tama:after {
right: -1.5rem;
border-left: 1.5rem solid #CB854B;
}
