.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.waku{
  margin: 3rem;
  display:flex;
  width:fit-content;
  /*   width: 7rem; */
  border: 0.5rem solid #282c34;
}

.hari{
  margin-left: -3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 0.5rem solid #282c34;
  width: 6rem;
}