.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.waku{
  margin: 3rem;
  display:flex;
  width:fit-content;
  /*   width: 7rem; */
  border: 0.5rem solid #282c34;
}
.keta{
  position: relative;
  background-color: #CDCFD6;
  width: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.tama {
  position: relative;
  height: 3rem;
  margin: 1rem -1rem;
  width: 3rem;
  background-color: #CB854B;
}

.tama:before,
.tama:after {
  content: "";
  position: absolute;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
}

.tama:before {
  left: -1.5rem;
  border-right: 1.5rem solid #CB854B;
}

.tama:after {
  right: -1.5rem;
  border-left: 1.5rem solid #CB854B;
}

.hari{
  margin-left: -3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 0.5rem solid #282c34;
  width: 6rem;
}