
.DecimalTable{
    width: min-content;
    margin: 4rem 3rem -1rem 3rem;
    border: 0.1rem #000 solid;
}
.DecimalTable th {
    margin-left: 3rem;
    margin-right: 1rem;
    padding: 1.6rem;
    width:15rem;
    
}